# MHW Event 3D

In [1]:
# imports
import numpy as np
import os
from matplotlib import pyplot as plt

from datetime import date

import pandas
import sqlalchemy
from mayavi import mlab

# Load

In [2]:
mhw_file = '/home/xavier/Projects/Oceanography/MHW/db/mhws_allsky_defaults.db'
tst_file = '/home/xavier/Projects/Oceanography/MHW/db/test_mhws_allsky.db'
#
engine = sqlalchemy.create_engine('sqlite:///'+mhw_file)
connection = engine.connect()
connection

In [3]:
mhw_events = pandas.read_sql_table('MHW_Events', con=engine, 
                               columns=['date', 'lon', 'lat', 'duration' , 
                                        'ievent', 'time_peak', 'time_start'])
mhw_events.head()

        date    lon     lat  duration  ievent  time_peak  time_start
0 1982-01-01  0.125 -71.375        13       0     723552      723546
1 1982-12-20  0.125 -71.375        33       1     723901      723899
2 1985-01-30  0.125 -71.375        10       2     724677      724671
3 1988-01-10  0.125 -71.375         9       3     725752      725746
4 1991-01-09  0.125 -71.375        52       4     726858      726841

In [4]:
mhw_events = mhw_events.set_index('date')
mhw_events.head()

              lon     lat  duration  ievent  time_peak  time_start
date
1982-01-01  0.125 -71.375        13       0     723552      723546
1982-12-20  0.125 -71.375        33       1     723901      723899
1985-01-30  0.125 -71.375        10       2     724677      724671
1988-01-10  0.125 -71.375         9       3     725752      725746
1991-01-09  0.125 -71.375        52       4     726858      726841

## Add start date

In [5]:
mhw_events['peak_date'] = pandas.to_datetime([date.fromordinal(tt) for tt in mhw_events['time_peak']])

In [6]:
mhw_events.head()

              lon     lat  duration  ievent  time_peak  time_start  peak_date
date
1982-01-01  0.125 -71.375        13       0     723552      723546 1982-01-07
1982-12-20  0.125 -71.375        33       1     723901      723899 1982-12-22
1985-01-30  0.125 -71.375        10       2     724677      724671 1985-02-05
1988-01-10  0.125 -71.375         9       3     725752      725746 1988-01-16
1991-01-09  0.125 -71.375        52       4     726858      726841 1991-01-26

# Pick one

## Not so far from the equator

In [14]:
equ_events = mhw_events[np.abs(mhw_events['lat']) < 20.]

In [15]:
equ_events.iloc[np.argsort(equ_events['duration'])[-20:]]

,lon,lat,duration,ievent,time_peak,time_start,peak_date
date,,,,,,,
2015-03-21,190.375,-2.125,433,55,736005,735678,2016-02-11
2015-03-20,190.125,-2.375,434,51,735997,735677,2016-02-03
2015-03-20,190.125,-2.625,434,51,736015,735677,2016-02-21
1997-06-27,270.625,-11.875,436,9,729351,729202,1997-11-23
1997-08-20,262.375,-10.875,436,10,729459,729256,1998-03-11
1997-08-19,262.625,-10.625,436,12,729417,729255,1998-01-28
1997-06-27,270.625,-12.125,436,11,729350,729202,1997-11-22
2015-03-13,219.875,4.875,438,69,735727,735670,2015-05-09
1997-06-25,270.625,-11.625,438,13,729351,729200,1997-11-23
2015-03-15,189.875,-2.375,439,52,735997,735672,2016-02-03
2015-03-14,220.375,5.125,441,59,735775,735671,2015-06-26
2015-03-11,220.125,4.875,441,66,735727,735668,2015-05-09
2015-03-09,189.875,-2.625,445,52,736015,735666,2016-02-21
1997-06-16,270.625,-11.375,447,15,729359,729191,1997-12-01
1997-06-16,270.875,-11.625,447,13,729351,729191,1997-11-23
2015-03-09,189.375,-2.875,449,57,736015,735666,2016-02-21
2015-03-09,189.625,-2.875,449,55,736015,735666,2016-02-21
2015-03-09,190.125,-2.875,449,56,736015,735666,2016-02-21
2015-03-09,189.625,-2.625,449,45,736015,735666,2016-02-21
1997-06-11,271.125,-11.375,453,12,729358,729186,1997-11-30

In [16]:
ievent = np.argsort(equ_events['duration'])[-20:][0]
ievent

8385907

## Pacific Ocean

In [45]:
pacific_events = mhw_events[(np.abs(mhw_events['lat']-35.) < 15.) & (np.abs(mhw_events['lon']-238.) < 15.)]

In [48]:
pacific_events.iloc[np.argsort(pacific_events['duration'])[-1000:-950]]

,lon,lat,duration,ievent,time_peak,time_start,peak_date
date,,,,,,,
2014-10-13,239.875,28.125,255,74,735674,735519,2015-03-17
2014-08-07,227.625,36.125,255,64,735685,735452,2015-03-28
2014-12-30,229.375,42.625,256,59,735779,735597,2015-06-30
2015-03-07,237.375,21.375,256,67,735839,735664,2015-08-29
2014-10-05,241.375,30.625,256,71,735634,735511,2015-02-05
2014-12-30,229.375,42.875,256,65,735791,735597,2015-07-12
2015-07-19,246.375,26.375,256,59,735926,735798,2015-11-24
2014-12-03,223.125,48.875,256,54,735750,735570,2015-06-01
2014-10-15,238.125,25.625,256,76,735730,735521,2015-05-12
2014-08-24,237.375,27.125,256,63,735476,735469,2014-08-31
2014-10-15,237.625,25.125,256,61,735674,735521,2015-03-17
2015-07-23,245.875,25.875,256,44,735942,735802,2015-12-10
2015-07-19,246.125,26.375,256,52,735942,735798,2015-12-10
2014-12-30,228.875,43.125,256,71,735779,735597,2015-06-30
2014-10-15,238.125,25.375,256,67,735730,735521,2015-05-12
2014-08-24,242.375,32.625,256,60,735492,735469,2014-09-16
2014-12-30,229.125,42.875,256,68,735779,735597,2015-06-30
2014-12-02,224.125,48.625,256,66,735739,735569,2015-05-21
2014-12-02,223.875,48.625,256,57,735789,735569,2015-07-10
2014-09-16,238.125,29.875,256,70,735616,735492,2015-01-18
2015-07-01,232.875,27.375,256,78,735786,735780,2015-07-07
2014-12-04,223.625,47.625,256,57,735746,735571,2015-05-28
2014-08-07,228.125,36.375,256,76,735685,735452,2015-03-28
2014-09-05,244.625,28.875,256,64,735486,735481,2014-09-10
2014-10-04,242.125,31.125,257,57,735672,735510,2015-03-15
2014-10-01,243.625,28.875,257,71,735721,735507,2015-05-03
2015-01-08,228.375,43.875,257,66,735776,735606,2015-06-27
2014-12-05,224.375,47.375,257,63,735744,735572,2015-05-26
2014-09-06,242.625,31.125,257,63,735492,735482,2014-09-16
2014-12-01,224.125,48.875,257,66,735739,735568,2015-05-21
2014-10-01,243.375,28.375,257,60,735569,735507,2014-12-02
2015-07-01,233.125,27.375,257,78,735786,735780,2015-07-07
2014-09-11,233.625,43.125,257,57,735683,735487,2015-03-26
2015-07-01,232.625,27.375,257,80,735786,735780,2015-07-07
2014-12-05,224.625,47.375,257,59,735744,735572,2015-05-26
2014-12-01,223.875,48.875,257,62,735739,735568,2015-05-21
2014-09-15,238.125,29.625,257,74,735643,735491,2015-02-14
2014-12-30,228.375,45.625,257,67,735777,735597,2015-06-28
2014-12-01,223.625,48.625,257,52,735789,735568,2015-07-10
2015-07-03,232.625,27.875,257,76,735841,735782,2015-08-31
2015-01-08,228.125,43.875,257,64,735776,735606,2015-06-27
2014-12-02,223.625,48.375,257,52,735789,735569,2015-07-10
2014-11-30,224.375,49.375,258,72,735738,735567,2015-05-20
2014-12-02,224.125,48.375,258,60,735788,735569,2015-07-09
2014-10-01,241.125,29.125,258,64,735673,735507,2015-03-16
2014-10-03,241.375,30.125,258,59,735571,735509,2014-12-04
2014-12-02,223.625,47.875,258,61,735746,735569,2015-05-28
2014-12-02,223.625,48.125,258,55,735746,735569,2015-05-28
2014-11-30,223.375,49.625,258,70,735739,735567,2015-05-21
2014-12-02,224.375,48.125,258,61,735758,735569,2015-06-09

In [51]:
pevent = np.argsort(pacific_events['duration'])[-955:][0]
pevent

655363

## Build a Cube

### Cut out near my event

In [18]:
eq_event = equ_events.iloc[ievent:ievent+1]
eq_event

                lon    lat  duration  ievent  time_peak  time_start  peak_date
date
2015-03-21  190.375 -2.125       433      55     736005      735678 2016-02-11

In [21]:
start_date = eq_event.index.values[0]
start_date

numpy.datetime64('2015-03-21T00:00:00.000000000')

In [22]:
end_date= start_date + pandas.Timedelta(days=eq_event.duration.values[0])
end_date

Timestamp('2016-05-27 00:00:00')

### Pacific

In [52]:
p_event = pacific_events.iloc[pevent:pevent+1]
p_event
#
p_start_date = p_event.index.values[0]
#
p_end_date= p_start_date + pandas.Timedelta(days=p_event.duration.values[0])
#
p_event, p_start_date, p_end_date

(                lon     lat  duration  ievent  time_peak  time_start  \
 date
 2014-10-03  241.375  30.125       258      59     735571      735509

             peak_date
 date
 2014-10-03 2014-12-04  ,
 numpy.datetime64('2014-10-03T00:00:00.000000000'),
 Timestamp('2015-06-18 00:00:00'))

In [53]:
p_event.duration.values[0]

258

## Just use start for now

### Time

In [54]:
#neartime_events = mhw_events["2018-10-15":"2019-02-23"]
#neartime_events = equ_events["2015-03-21":"2016-05-27"]
neartime_events = pacific_events["2014-09-20":"2015-07-01"] # Buffered by ~10 days

In [55]:
neartime_events

,lon,lat,duration,ievent,time_peak,time_start,peak_date
date,,,,,,,
2014-10-02,223.125,20.125,7,73,735509,735508,2014-10-03
2015-01-08,223.125,20.125,118,74,735637,735606,2015-02-08
2015-05-27,223.125,20.125,6,75,735747,735745,2015-05-29
2015-06-09,223.125,20.125,15,76,735760,735758,2015-06-11
2015-01-10,223.125,20.375,116,71,735637,735608,2015-02-08
...,...,...,...,...,...,...,...
2014-11-11,252.875,24.125,8,75,735554,735548,2014-11-17
2015-01-25,252.875,24.125,6,76,735627,735623,2015-01-29
2015-02-06,252.875,24.125,28,77,735645,735635,2015-02-16
2015-03-13,252.875,24.125,45,78,735694,735670,2015-04-06
2015-05-30,252.875,24.125,54,79,735757,735748,2015-06-08

### Space

In [56]:
event = p_event
#event.lat.values[0]
event.lat.values[0]

30.125

In [57]:
nearst_events = neartime_events[(np.abs(
    neartime_events.lat-event.lat.values[0]) < 10.) & (np.abs(
    neartime_events.lon-event.lon.values[0]) < 10.)]
nearst_events.head()

,lon,lat,duration,ievent,time_peak,time_start,peak_date
date,,,,,,,
2014-10-28,231.625,20.375,5,67,735536,735534,2014-10-30
2014-11-28,231.625,20.375,15,68,735569,735565,2014-12-02
2015-01-11,231.625,20.375,39,69,735638,735609,2015-02-09
2015-02-25,231.625,20.375,21,70,735666,735654,2015-03-09
2015-03-28,231.625,20.375,10,71,735692,735685,2015-04-04

### Cube

In [58]:
event

,lon,lat,duration,ievent,time_peak,time_start,peak_date
date,,,,,,,
2014-10-03,241.375,30.125,258,59,735571,735509,2014-12-04

In [59]:
deg = 10.
step = 0.25
grid_lon = np.arange(event.lon.values[0]-deg, event.lon.values[0]+deg+step, step)
grid_lat = np.arange(event.lat.values[0]-deg, event.lat.values[0]+deg+step, step)

In [60]:
cube = np.zeros((event.duration.values[0]+20, grid_lat.size, grid_lon.size), dtype='int')
cube.shape

(278, 81, 81)

In [61]:
for index, row in nearst_events.iterrows():
    #import pdb; pdb.set_trace()
    ilat = np.argmin(np.abs(grid_lat-row.lat))
    jlon = np.argmin(np.abs(grid_lon-row.lon))
    # Do it!
    t0 = row.time_start-event.time_start.values[0]+15
    if t0 < 0:
        import pdb; pdb.set_trace()
    cube[t0:t0+row.duration+1, ilat, jlon] = 1

In [62]:
np.sum(cube)/cube.size

0.3466472363946977

In [63]:
cube.size

1823958

## Viz

In [22]:
x, y, z = np.ogrid[-10:10:20j, -10:10:20j, -10:10:20j]
s = np.sin(x*y*z)/(x*y*z)

In [23]:
#mlab.contour3d(s)

### Save

In [64]:
#np.save('tst_cube.npy', cube)
np.save('tst_cube_pacific.npy', cube)