# NCEP explore

In [36]:
# imports
import os 
import datetime
import pandas

import iris
import cf_units

from oceanpy.sst import io as sst_io
from oceanpy.sst import climate as sst_climate

# Load

In [2]:
path = '/home/xavier/Projects/Oceanography/data/NCEP-DOE/Z500'

In [4]:
dfile = os.path.join(path, 'NCEP-DOE_z500.nc')

In [5]:
cubes = iris.load_cubes(dfile)

/home/xavier/anaconda3/lib/python3.7/site-packages/iris/fileformats/netcdf.py:395: UserWarning: WARNING: missing_value not used since it
cannot be safely cast to variable data type
  var = variable[keys]

In [6]:
cubes

# Explore

In [7]:
cube = cubes[0]
cube

In [8]:
cube.data.shape

/home/xavier/anaconda3/lib/python3.7/site-packages/iris/fileformats/netcdf.py:395: UserWarning: WARNING: missing_value not used since it
cannot be safely cast to variable data type
  var = variable[keys]

(15157, 73, 144)

In [9]:
cube.coords

# Add time coord

## Load SST for reference

In [22]:
noaa_path = os.getenv('NOAA_OI')
SST = iris.load(os.path.join(noaa_path, 'sst.day.mean.1985.nc'))[0]

In [23]:
SST.coord('time')

DimCoord(array([67570., 67571., 67572., 67573., 67574., 67575., 67576., 67577.,
       67578., 67579., 67580., 67581., 67582., 67583., 67584., 67585.,
       67586., 67587., 67588., 67589., 67590., 67591., 67592., 67593.,
       67594., 67595., 67596., 67597., 67598., 67599., 67600., 67601.,
       67602., 67603., 67604., 67605., 67606., 67607., 67608., 67609.,
       67610., 67611., 67612., 67613., 67614., 67615., 67616., 67617.,
       67618., 67619., 67620., 67621., 67622., 67623., 67624., 67625.,
       67626., 67627., 67628., 67629., 67630., 67631., 67632., 67633.,
       67634., 67635., 67636., 67637., 67638., 67639., 67640., 67641.,
       67642., 67643., 67644., 67645., 67646., 67647., 67648., 67649.,
       67650., 67651., 67652., 67653., 67654., 67655., 67656., 67657.,
       67658., 67659., 67660., 67661., 67662., 67663., 67664., 67665.,
       67666., 67667., 67668., 67669., 67670., 67671., 67672., 67673.,
       67674., 67675., 67676., 67677., 67678., 67679., 67680., 67681.,
       67682., 67683., 67684., 67685., 67686., 67687., 67688., 67689.,
       67690., 67691., 67692., 67693., 67694., 67695., 67696., 67697.,
       67698., 67699., 67700., 67701., 67702., 67703., 67704., 67705.,
       67706., 67707., 67708., 67709., 67710., 67711., 67712., 67713.,
       67714., 67715., 67716., 67717., 67718., 67719., 67720., 67721.,
       67722., 67723., 67724., 67725., 67726., 67727., 67728., 67729.,
       67730., 67731., 67732., 67733., 67734., 67735., 67736., 67737.,
       67738., 67739., 67740., 67741., 67742., 67743., 67744., 67745.,
       67746., 67747., 67748., 67749., 67750., 67751., 67752., 67753.,
       67754., 67755., 67756., 67757., 67758., 67759., 67760., 67761.,
       67762., 67763., 67764., 67765., 67766., 67767., 67768., 67769.,
       67770., 67771., 67772., 67773., 67774., 67775., 67776., 67777.,
       67778., 67779., 67780., 67781., 67782., 67783., 67784., 67785.,
       67786., 67787., 67788., 67789., 67790., 67791., 67792., 67793.,
       67794., 67795., 67796., 67797., 67798., 67799., 67800., 67801.,
       67802., 67803., 67804., 67805., 67806., 67807., 67808., 67809.,
       67810., 67811., 67812., 67813., 67814., 67815., 67816., 67817.,
       67818., 67819., 67820., 67821., 67822., 67823., 67824., 67825.,
       67826., 67827., 67828., 67829., 67830., 67831., 67832., 67833.,
       67834., 67835., 67836., 67837., 67838., 67839., 67840., 67841.,
       67842., 67843., 67844., 67845., 67846., 67847., 67848., 67849.,
       67850., 67851., 67852., 67853., 67854., 67855., 67856., 67857.,
       67858., 67859., 67860., 67861., 67862., 67863., 67864., 67865.,
       67866., 67867., 67868., 67869., 67870., 67871., 67872., 67873.,
       67874., 67875., 67876., 67877., 67878., 67879., 67880., 67881.,
       67882., 67883., 67884., 67885., 67886., 67887., 67888., 67889.,
       67890., 67891., 67892., 67893., 67894., 67895., 67896., 67897.,
       67898., 67899., 67900., 67901., 67902., 67903., 67904., 67905.,
       67906., 67907., 67908., 67909., 67910., 67911., 67912., 67913.,
       67914., 67915., 67916., 67917., 67918., 67919., 67920., 67921.,
       67922., 67923., 67924., 67925., 67926., 67927., 67928., 67929.,
       67930., 67931., 67932., 67933., 67934.]), standard_name='time', units=Unit('days since 1800-01-01 00:00:00', calendar='gregorian'), long_name='Time', var_name='time', attributes={'actual_range': array([67570., 67934.]), 'avg_period': '0000-00-01 00:00:00', 'delta_t': '0000-00-01 00:00:00'})

In [35]:
type(SST.coord('time').units)

cf_units.Unit

## Attempt

### Time

In [25]:
day1 = datetime.date(1979,1,1)

In [28]:
dates = pandas.date_range(start =day1, periods = cube.data.shape[0]).to_pydatetime().tolist()

In [55]:
dates[-1]

datetime.datetime(2020, 6, 30, 0, 0)

In [37]:
toords = [idate.toordinal() for idate in dates]

In [45]:
tunit = cf_units.Unit('days since 1-1-1', calendar='gregorian')

In [48]:
time_coord = iris.coords.DimCoord(toords, standard_name='time', units=tunit)

In [49]:
time_coord

DimCoord(array([722450, 722451, 722452, ..., 737604, 737605, 737606]), standard_name='time', units=Unit('days since 1-1-1', calendar='gregorian'))

### Cube

In [50]:
new_cube = iris.cube.Cube(cube.data, units='m', var_name='Z500',
                                             dim_coords_and_dims=[(time_coord, 0),
                                                                  (cube.coord('latitude'), 1),
                                                                  (cube.coord('longitude'), 2)])

In [51]:
new_cube

### Grab a day

In [52]:
# Day
constraint = iris.Constraint(time=iris.time.PartialDateTime(
    day=1, year=2012, month=1))
dmy_cube = new_cube.extract(constraint)

In [53]:
dmy_cube

## Write

In [54]:
iris.save(new_cube, 'NCEP-DOE_Z500.nc', zlib=True)