# Pandas

In [1]:
# imports
import numpy as np
import os
from matplotlib import pyplot as plt

import pandas
import sqlalchemy

# Load

In [2]:
mhw_file = '/home/xavier/Projects/Oceanography/MHWs/db/mhws_allsky_defaults.db'

In [3]:
engine = sqlalchemy.create_engine('sqlite:///'+mhw_file)

In [4]:
connection = engine.connect()
connection

In [5]:
pd_tbl = pandas.read_sql_table('MHW_Events', con=engine, columns=['lon', 'lat', 'duration', 'intensity_max'])

In [6]:
pd_tbl

           lon     lat  duration  intensity_max
0        0.125 -65.125        13       0.917701
1        0.125 -65.125        33       0.869160
2        0.125 -65.125        10       0.387140
3        0.125 -65.125         9       0.364273
4        0.125 -65.125        52       0.550420
...        ...     ...       ...            ...
283678  86.125  77.375        21       5.514253
283679  86.125  77.375         8       4.596664
283680  86.125  77.375       182       4.283445
283681  86.125  77.375        43       7.044448
283682  86.125  77.375        68       0.984583

[283683 rows x 4 columns]

# Multi

## lon_lat index

In [21]:
sidx = []
eidx = []
counter = 0
for kk, lon,lat in zip(range(len(pd_tbl)), pd_tbl['lon'], pd_tbl['lat']):
    newc = '{:0.3f}_{:0.3f}'.format(lon, lat)
    if kk > 0 and newc != sidx[-1]:
        counter = 0
    elif kk>0:
        counter += 1
    sidx.append(newc)
    eidx.append(counter)

In [22]:
sidx[0:5], eidx[0:5]

(['0.125_-65.125',
  '0.125_-65.125',
  '0.125_-65.125',
  '0.125_-65.125',
  '0.125_-65.125'],
 [0, 1, 2, 3, 4])

In [14]:
pd_tbl['lon-lat'] = sidx

In [23]:
pd_tbl['eidx'] = eidx

In [24]:
pd_tbl

           lon     lat  duration  intensity_max        lon-lat  eidx
0        0.125 -65.125        13       0.917701  0.125_-65.125     0
1        0.125 -65.125        33       0.869160  0.125_-65.125     1
2        0.125 -65.125        10       0.387140  0.125_-65.125     2
3        0.125 -65.125         9       0.364273  0.125_-65.125     3
4        0.125 -65.125        52       0.550420  0.125_-65.125     4
...        ...     ...       ...            ...            ...   ...
283678  86.125  77.375        21       5.514253  86.125_77.375    59
283679  86.125  77.375         8       4.596664  86.125_77.375    60
283680  86.125  77.375       182       4.283445  86.125_77.375    61
283681  86.125  77.375        43       7.044448  86.125_77.375    62
283682  86.125  77.375        68       0.984583  86.125_77.375    63

[283683 rows x 6 columns]

## Use it

In [30]:
multi_tbl = pd_tbl.set_index(['lon-lat', 'eidx'])

In [32]:
multi_tbl[-65:]

                       lon     lat  duration  intensity_max
lon-lat       eidx
86.125_27.375 84    86.125  27.375        10       1.426639
86.125_77.375 0     86.125  77.375        21       5.902194
              1     86.125  77.375         6       4.069810
              2     86.125  77.375        12       4.589748
              3     86.125  77.375         7       2.964003
...                    ...     ...       ...            ...
              59    86.125  77.375        21       5.514253
              60    86.125  77.375         8       4.596664
              61    86.125  77.375       182       4.283445
              62    86.125  77.375        43       7.044448
              63    86.125  77.375        68       0.984583

[65 rows x 4 columns]