# Time Evolution

In [1]:
%matplotlib notebook

In [2]:
# imports
import numpy as np
import os
from scipy.interpolate import interp1d

from datetime import date, time

from matplotlib import pyplot as plt

import cartopy.crs as ccrs
import cartopy.feature as cfeature 
from cartopy.mpl.ticker import LongitudeFormatter, LatitudeFormatter

import pandas as pd
import iris
import iris.quickplot as qplt

import healpy as hp

from oceanpy.sst import io as sst_io

from mhw_analysis.systems import utils as mhwsys_utils

# Load

In [3]:
path = '/home/xavier/Projects/Oceanography/MHW/db'

In [4]:
sys_file = os.path.join(path, 'MHW_systems_2000.npz')
mhw_sys_npz = np.load(sys_file)

In [5]:
mhw_sys = mhwsys_utils.dict_to_pandas(mhw_sys_npz, add_latlon=True)

In [6]:
mhw_sys.head()

,NSpax,xcen,xboxmin,xboxmax,ycen,yboxmin,yboxmax,zcen,zboxmin,zboxmax,date,lat,lon
Id,,,,,,,,,,,,,
1,1068,46.225655,46,50,671.013123,663,681,100.861420,68,132,1982-04-11,-78.318586,167.878281
2,15708,55.034248,46,72,685.501404,650,740,230.010315,156,329,1982-08-19,-76.116438,171.500351
3,34,45.500000,46,46,663.588257,663,666,365.970581,362,373,1983-01-01,-78.500000,166.022064
4,5387,52.332745,46,71,674.276123,651,706,472.054840,432,500,1983-04-18,-76.791814,168.694031
5,24,45.500000,46,46,664.000000,663,666,571.000000,569,574,1983-07-26,-78.500000,166.125000

# Evolution (every 6 months for now)

## Pick out year 1983

In [11]:
year1983 = (mhw_sys.date >= date(1983,1,1)) & (mhw_sys.date < date(1984,1,1))

In [12]:
year1983

Id
1        False
2        False
3         True
4         True
5         True
         ...
99352     True
99353    False
99354     True
99355    False
99356     True
Name: date, Length: 99356, dtype: bool

## Total $N_{\rm Spax}$

In [15]:
np.sum(mhw_sys.NSpax[year1983])

25096070

In [38]:
type(time(date(1982, 1, 1).toordinal()))

ValueError: hour must be in 0..23

In [42]:
time(date(1982, 1, 1))

TypeError: an integer is required (got type datetime.date)